<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<meta charset="UTF-8">
<title>Main</title>

<!-- QEURY 1 -->

<h1>List Companies in a Given Industry</h1>
<form method="post">
  {% if result %}
  <select name="industry_name">
    {% for row in result %}
    <option value="{{ row.industry_name }}">{{ row.industry_name }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <br>Limit:
  <input type="text" name="ind_comp_limit">
  <br>
  <input type="submit" value="Submit">
</form>

{% if ind_comp %}
<table style="width:50%">
  <tr>
    <th>Company Name</th>
    <th>Company Symbol</th>
  </tr>

  {% for row in ind_comp %}
  <tr>
    <td>{{ row.company_name }}</td>
    <td>{{ row.company_symbol }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}
<!-- QEURY 2 -->
<h1>List Assets Sold on an Exchange</h1>
<form method="post">
  {% if exchanges %}
  <select name="exchange_name">
    {% for row in exchanges %}
    <option value="{{ row.exchange_name }}">{{ row.exchange_name }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <br>Limit:
  <input type="text" name="asset_limit">
  <br>
  <input type="submit" value="Submit">
</form>
{% if assets %}
<table style="width:50%">
  <tr>
    <th>Company Name</th>
    <th>Asset Type</th>
  </tr>
  {% for row in assets %}
  <tr>
    <td>{{ row.company_name }}</td>
    <td>{{ row.asset_type }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}

<!-- QEURY 3 -->
<h1>List Asset Prices by Day</h1>
<form method="post">
  <select name="price_type">
    <option value="open_dp">Open Price</option>
    <option value="close_dp">Close Price</option>
    <option value="high">High Price</option>
    <option value="low">Low Price</option>
  </select>
  <br>Month:
  <select name="price_month">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <br>Day:
  <select name="price_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <br>Limit:
  <input type="text" name="price_limit">
  <br>
  <input type="submit" value="Submit">
</form>
{% if daily_prices %}
<table style="width:50%">
  <tr>
    <th>Company Symbol</th>
    <th>Asset Type</th>
    <th>Price</th>
    <th>TimeStamp</th>
  </tr>
  {% for row in daily_prices %}
  <tr>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.asset_type }}</td>
    <td>{{  row.price }}</td>
    <td>{{  row.time_stamp }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}

<!-- QEURY 4 -->
<h1>Who owns an Asset</h1>
<form method="post">
  {% if company_symbols %}
  <select name="owns_company_symbol">
    {% for row in company_symbols %}
    <option value="{{ row.company_symbol }}">{{ row.company_symbol }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <br>
  {% if asset_types %}
  <select name="owns_asset_type">
    {% for row in asset_types %}
    <option value="{{ row.asset_type }}">{{ row.asset_type }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <br>Limit:
  <input type="text" name="owns_limit">
  <br>
  <input type="submit" value="Submit">
</form>
{% if asset_owners %}
<table style="width:50%">
  <tr>
    <th>Owner ID</th>
    <th>Company Symbol</th>
    <th>Asset Type</th>
  </tr>
  {% for row in asset_owners %}
  <tr>
    <td>{{ row.owner_id }}</td>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.asset_type }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}

<!-- QEURY 5 -->
<h1>Get Owner Portfolio</h1>
<form method="post">
  {% if owner_ids %}
  <select name="portf_owner_id">
    {% for row in owner_ids %}
    <option value="{{ row.owner_id }}">{{ row.owner_id }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <br>
  <input type="submit" value="Submit">
</form>
{% if portfolio %}
<table style="width:50%">
  <tr>
    <th>Owner ID</th>
    <th>Asset Type</th>
  </tr>
  {% for row in portfolio %}
  <tr>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.asset_type }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}



<!-- QEURY 6 -->
<h1>Get Global Daily Event Report</h1>
<form method="post">
  <br>Month:
  <select name="event_month">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  <br>Day:
  <select name="event_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
{% if event_report %}
<table style="width:100%">
  <tr>
    <th>Event Description</th>
    <th>TimeStamp</th>
    <th>News Link</th>
    <th>Company Symbol</th>
    <th>Asset Type</th>
    <th>Closing Price</th>
    <th>Industry Name</th>
  </tr>
  {% for row in event_report %}
  <tr>
    <td>{{ row.event_description }}</td>
    <td>{{ row.time_stamp }}</td>
    <td>{{  row.ap_news_link }}</td>
    <td>{{  row.company_symbol }}</td>
    <td>{{  row.asset_type }}</td>
    <td>{{  row.close_dp }}</td>
    <td>{{  row.industry_name }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}

<!-- QEURY 7 -->
<h1>Get Event Report by Day Where Event Occurs in Market Country </h1>
<form method="post">
  <br>Month:
  <select name="event_loc_month">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  <br>Day:
  <select name="event_loc_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <br>Limit:
  <input type="text" name="event_loc_limit">
  <br>
  <input type="submit" value="Submit">
</form>
{% if event_loc_report %}
<table style="width:100%">
  <tr>
    <th>Event Description</th>
    <th>TimeStamp</th>
    <th>News Link</th>
    <th>Company Symbol</th>
    <th>Asset Type</th>
    <th>Closing Price</th>
    <th>Country Symbol</th>
  </tr>
  {% for row in event_loc_report %}
  <tr>
    <td>{{ row.event_description }}</td>
    <td>{{ row.time_stamp }}</td>
    <td>{{  row.ap_news_link }}</td>
    <td>{{  row.company_symbol }}</td>
    <td>{{  row.asset_type }}</td>
    <td>{{  row.close_dp }}</td>
    <td>{{  row.country_symbol }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}


<!-- QEURY 8 -->
<h1>Report Daily Price with Daily Interest Rate Offered By Country</h1>
<form method="post">
  <br>Month:
  <select name="int_month">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  <br>Day:
  <select name="int_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <br>
  <select name="int_country">
      {% for row in interest_backing_countries %}
      <option value="{{ row.country_symbol }}">{{ row.country_symbol }}</option>
      {% endfor %}
    </select>
    <select name="int_price_type">
        <option value="open_dp">Open Price</option>
        <option value="close_dp">Close Price</option>
        <option value="high">High Price</option>
        <option value="low">Low Price</option>
      </select>
      <br>Limit:
  <input type="text" name="int_limit">
  <br>
    <br>
  <input type="submit" value="Submit">
</form>
{% if interest_report %}
<table style="width:100%">
  <tr>
    <th>Company Symbol</th>
    <th>Asset Type</th>
    <th>Price</th>
    <th>TimeStamp</th>
    <th>Current Rate</th>
  </tr>
  {% for row in interest_report %}
  <tr>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.asset_type }}</td>
    <td>{{  row.price }}</td>
    <td>{{  row.time_stamp }}</td>
    <td>{{  row.current_rate }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}


<!-- QEURY 9 -->

<h1>Price Report with Company Finances</h1>
<form method="post">
    {% if company_symbols %}
    <select name="fin_data_company_symbol">
      {% for row in company_symbols %}
      <option value="{{ row.company_symbol }}">{{ row.company_symbol }}</option>
      {% endfor %}
    </select>
    {% endif %}
    <br>Month:
  <select name="fin_data_month">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  <br>Day:
  <select name="fin_data_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <br>
  <select name="fin_gt_lt">
      <option value="<">Nearest Reported After Date</option>
      <option value=">">Nearest Reported Before Date</option>
    </select>
  <input type="submit" value="Submit">
</form>

{% if fin_report %}
<table style="width:50%">
  <tr>
    <th>Company Symbol</th>
    <th>Asset Type</th>
    <th>Price</th>
    <th>Quarter Net Income</th>
  </tr>

  {% for row in fin_report %}
  <tr>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.asset_type }}</td>
    <td>{{ row.price }}</td>
    <td>{{ row.qtr_net_income }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}

<!-- QEURY 10 -->

<h1>Asset Report From Affected Industry with Event Link</h1>
<form method="post">
    <br>Month:
  <select name="asset_event_month">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  <br>Day:
  <select name="asset_event_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <br>Limit:
  <input type="text" name="asset_event_limit">
  <input type="submit" value="Submit">
</form>

{% if asset_event_report %}
<table style="width:50%">
  <tr>
    <th>Company Symbol</th>
    <th>Qtr Net Income</th>
    <th>News Link</th>
    <th>Industry</th>
  </tr>

  {% for row in asset_event_report %}
  <tr>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.qtr_net_income }}</td>
    <td>{{ row.ap_news_link }}</td>
    <td>{{ row.industry_name }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}


<!-- QEURY 11 -->

<h1>Daily Price Report From Affected Industries with Event Link</h1>
<form method="post">
    <br>Month:
  <select name="price_event_month">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  <br>Day:
  <select name="price_event_day">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <input type="submit" value="Submit">
</form>

{% if price_event_report %}
<table style="width:50%">
  <tr>
    <th>Company Symbol</th>
    <th>Price</th>
    <th>News Link</th>
    <th>Event Time</th>
  </tr>

  {% for row in price_event_report %}
  <tr>
    <td>{{ row.company_symbol }}</td>
    <td>{{ row.price }}</td>
    <td>{{ row.ap_news_link }}</td>
    <td>{{ row.time_stamp }}</td>
  </tr>
  {% endfor %}

</table>
{% endif %}